* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: sans-serif;
}

.header {
  background-color: rgba(56, 189, 248, 0.5);
}
.header__title-box {
  display: flex;
  padding: 3rem 3rem 0 3rem;
}
@media only screen and (max-width: 500px) {
  .header__title-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 0 0 0;
  }
}
.header__img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 2rem;
}
.header__descbox {
  color: #333;
  line-height: 1.5;
}
.header__title {
  font-size: 4rem;
}
.header__text {
  font-size: 1.5rem;
}

.nav {
  background-color: rgba(30, 58, 138, 0.5);
  padding: 0.5rem;
}
.nav__list {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  list-style: none;
  color: white;
  margin-right: 1rem;
}
.nav__link {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  display: block;
  padding: 1.5rem 0;
  font-weight: bold;
  cursor: pointer;
}
.nav__link:hover {
  color: #ccc;
}

.section-title {
  display: inline-block;
  background-color: rgba(30, 58, 138, 0.5);
  padding: 1rem;
  margin-top: 1rem;
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
}

.main {
  padding: 0.5rem;
}

.tentang-box {
  background-color: rgba(204, 204, 204, 0.2);
  padding: 2rem 1rem;
  max-width: 50rem;
}
@media only screen and (max-width: 1200px) {
  .tentang-box {
    max-width: 100%;
  }
}

.container {
  margin: 0 auto;
  padding: 6rem;
}
@media only screen and (max-width: 1200px) {
  .container {
    margin: 0;
  }
}

.d-flex {
  display: flex;
  gap: 2rem;
}
@media only screen and (max-width: 1200px) {
  .d-flex {
    flex-direction: column;
  }
}

.tentang-img {
  float: left;
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tentang-text {
  margin-left: 1rem;
  font-size: 1.6rem;
}

.tentang-video {
  width: 100%;
  height: 100%;
}

.tentang-video iframe {
  width: 100%;
  min-height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 1200px) {
  .tentang-video iframe {
    min-height: 50vw;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background-color: #38bdf8;
  color: #fff;
  padding: 1rem;
  font-size: 1.6rem;
}

.table td {
  padding: 1rem;
  font-size: 1.6rem;
  border: 1px solid #38bdf8;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: rgba(56, 189, 248, 0.5);
  max-width: 30rem;
  gap: 2rem;
  padding: 2rem;
  font-size: 1.6rem;
}

.form-flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input-text {
  padding: 0.5rem;
}

.ml-s {
  margin-left: 3rem;
}

.mr-s {
  margin-right: 3rem;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form button {
  padding: 0.5rem;
  font-size: 1.6rem;
  background-color: rgba(30, 58, 138, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.footer {
  background-color: rgba(204, 204, 204, 0.2);
  padding: 2rem;
  color: rgba(30, 58, 138, 0.5);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */